.App {
  text-align: center;
}

.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #555;
  color: #fff;
}

.Links {
  display: flex;
  justify-content: space-around;
  width: 20%;
  list-style: none;
}